<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script src="app.js" charset="utf-8"></script>

    <title>Document</title>
  </head>
  <body ng-app="MyFoodApp">
    <h1>Upload Your favorite food</h1>
    <div ng-controller="MyFirstcontroller">
      <div ng-repeat="food in allData">
        <h2>{{food.title}}</h2>
        <img class="food_image" src="{{food.image}}" alt="" />
        <h3>{{food.description}}</h3>
        <h3> <span>Item Price:</span> <br> {{food.price}}</h3>
        <h3> <span>Date Item was added:</span> <br>{{food.date}}</h3>
        <input type="button" value="Edit Item"> <br> <br>
      </div>
      <form action="">
        <div ng-controller="MyPostcontroller">
          <div>
            <span>Item Name</span> <br> <input type="text" ng-model="title" /> <br />
          </div>
          <div>
            <span>Item Description</span> <br><input type="text" ng-model="description" /> <br />
          </div>
          <div>
            <span>Image Link</span><br><input type="text" ng-model="image" /> <br />
          </div>
          <div>
            <span>Item Price</span><br><input type="text" ng-model="price" /> <br />
          </div>
          <div>
            <span>Log Date</span><br><input type="text"  ng-model="date" /> <br />
          </div>  <br>  
          <input className="submitbtn" type="button" value="Send" ng-click="postData(title, description, image, price, date)" />
        </div>
        
    </form>
    </div>
  </body>
</html>
